{% extends "layout.html.twig" %}

{% block content %}

<div class="breadcrumbs">
    <a href="/">Homepage</a> &raquo;
</div>

<h1>Checkout</h1>

<div class="checkout-total">
    <div>Total</div>
    <div>£{{ total | number_format(2) }}</div>
</div>

{{ form(form) }}

{% endblock %}
