{% extends "layout.html.twig" %}

{% block content %}

<div class="breadcrumbs">
    <a href="/">Homepage</a> &raquo;
</div>

<h1>Confirmation</h1>

<p>We've received your order. Thanks for shopping with us!</p>

{% endblock %}
