<!DOCTYPE html>
<html>
    <head>
        <title>Shop</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ encore_entry_link_tags('app') }}
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            Bike Shop
            {% if app.session.get('basket') %}
                <a href="/basket">View basket</a>
            {% endif %}
            <hr>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <hr>
            All rights reserved.
        </footer>
    </body>
</html>
